/audioset/vggish/models/keras_tuner_dir/
/audioset/vggish/vggish_pca_params.npzßß
/audioset/vggish/vggish_model.ckptß
/Users/astrid/PycharmProjects/audioset-thesis-work/audioset/vggish/vggish_model.ckpt
/Users/astrid/PycharmProjects/audioset-thesis-work/audioset/vggish/vggish_pca_params.npz